<div class="jumbotron text-center">
    <h1 class="display-3">Welcome To Video-Ideas</h1>
    <h2 class="lead">Your ideas for next Youtube Videos</h2>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Ideas</a>
</div>